<%= form_with model: processed_file do |form| %>

  <div>
    <%= form.label :text_file %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
    <%= form.file_field :text_file, direct_upload: true, data: {target: 'dropzone.input' } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
        <span class="dropzone-msg-desc text-sm">10 KB file size maximum. Allowed file types txt, html.</span>
      </div>
    </div>
  </div>

  <div>
    <%=form_with url: processed_files_trigger_job_path do |f| %>
    <%= f.submit 'Senda รก talgervil'%>
      <% end %>
  </div>
<% end %>
