<%= form_with model: processed_file, id: "dropzone_form" do |form| %>
  <div>
    <div id="filedrop" class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
    <%= form.file_field :text_file, direct_upload: true, data: { target: 'dropzone.input', turbo: 'false' } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h3 class="dropzone-msg-title">Dragðu skjal hingað eða smelltu til þess að hlaða upp skjali</h3>
        <span class="dropzone-msg-desc text-sm">Textinn má ekki vera lengri en um 10 þús. stafabil (um 10KB fyrir .txt og .html skjöl). Veldu gerð textaskjals hér fyrir neðan.</span>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <%= form.label "Gerð textaskjals" %>
    <%= form.select :text_type, ProcessedFile.text_types.keys, selected: 'html', class: "dropdown_select", id: "dropdown_select" %>
  </div>
  <div class="dropdown">
    <%= form.label "Hraði (lægri tala = meiri hraði)" %>
    <%= form.select :duration_val, ['0.8', '0.9', '1.0', '1.1', '1.2', '1.3', '1.4', '1.5'], selected: '1.0', class: "dropdown_select", id: "dropdown_select" %>
  </div>
  <div class="dropdown">
    <%= form.label "Rödd" %>
    <%= form.select :voice, ['Álfur', 'Álfur (v2)', 'Diljá', 'Diljá (v2)', 'Rósa', 'Bjartur', 'Karl', 'Dóra'], selected: 'Álfur', class: "dropdown_select", id: "dropdown_select" %>
  </div>
  <div class="submit_div">
    <%= form.submit 'Senda á talgervil', id: "submit", class: "submit btn btn--primary" %>
  </div>

<% end %>


