<%= form_with model: processed_file, id: "dropzone_form" do |form| %>
  <div>
    <div id="filedrop" class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
    <%= form.file_field :text_file, direct_upload: true, data: { target: 'dropzone.input' } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h3 class="dropzone-msg-title">Dragðu skjal hingað eða smelltu til þess að hlaða upp skjali</h3>
        <span class="dropzone-msg-desc text-sm">Skjalið má ekki vera stærra en 10 KB. Veldu gerð textaskjals hér fyrir neðan (texti eða HTML)</span>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <%= form.label "Gerð textaskjals" %>
    <%= form.select :text_type, ProcessedFile.text_types.keys, selected: 'html', class: "dropdown_select", id: "dropdown_select" %>
  </div>
  <div class="submit_div">
    <%= form.submit 'Senda á talgervil', id: "submit", class: "submit btn btn--primary" %>
  </div>

<% end %>


