<%#= turbo_stream_from "single_processed_file" %>
<%= turbo_frame_tag processed_file do %>
<div class="processed_file">

  <%= link_to processed_file.name, processed_file_path(processed_file), data: {turbo_frame: "_top"} %>
  <%#= processed_file.snippet %>
  <% if processed_file.audio_file.attached? %>
    <a href=<%= rails_blob_path(processed_file.audio_file, disposition: 'attachment') %>>Sækja hljóðskrá</a>
  <% else %>
    <p>Er að framleiða hljóðskrá ...</p>
  <% end %>
  <% if processed_file.text_file.attached? %>
    <a href=<%= rails_blob_path(processed_file.text_file, disposition: 'attachment') %>>Sækja textaskjal</a>
  <% end %>
  <% if processed_file.audio_file.attached? %>
    <audio id="player" controls src=<%= rails_blob_path(processed_file.audio_file, disposition: 'attachment') %>></audio>
  <% else %>
    <p></p>
  <% end %>

</div>
<% end %>
