<%= turbo_stream_from "processed_files" %>
<main class="container">
<div class="header">
  <h1>Texti í tal</h1>
  <%= link_to "nýtt skjal", new_processed_file_path, class: "btn btn--primary", data: { turbo_frame: dom_id(ProcessedFile.new) } %>
</div>

<%= turbo_frame_tag ProcessedFile.new %>
<%= turbo_frame_tag "processed_files" do %>
<%= render @processed_files %>
<% end %>
</main>