<main class="container">
  <%= link_to sanitize("&larr; Til baka á aðalsíðu"), new_processed_file_path %>

  <%= turbo_frame_tag @processed_file do %>
    <div class="processed_file_about">
    <span class="item">
      <p><%= link_to @processed_file.name, new_processed_file_path %></p>
    </span>
      <span class="item_snippet">
        <p><strong>Texti:</strong> <%= @processed_file.snippet %></p>
    </span>
      <span class="item">
      <p>Textagerð: <strong><%=@processed_file.text_type %></strong></p>
    </span>

      <span class="item">
      <%= button_to "Eyða skrá", processed_file_path(@processed_file), method: :delete, class: "btn btn--secondary" %>
    </span>
  <% end %>
  </div>
</main>